body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  header {
    background-color: #106888;
    padding: 20px;
  }

  header p {
    font-weight: bold;
  }
  
  .about {
    margin: 40px auto;
    width: 60%;
  }
  
  img {
    border-radius: 15px;   
    border: 3px solid white;
    cursor: pointer;     
  }
  
  .hint {
    font-style: italic;
    color: yellow;
  }
  
  footer {
    margin-top: 50px;
    opacity: 0.7;
  }
  